<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.examples">

    <!-- The INTERNET permission is required for development. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:label="Charts Flutter Gallery"
            android:icon="@mipmap/ic_launcher">
        <activity
                android:name="io.flutter.embedding.android.FlutterActivity"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|smallestScreenSize|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <meta-data
                    android:name="flutterEmbedding"
                    android:value="2" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>